.header {
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #246c6c;
}

.wrapper {
    display: flex;
}

.link {
    text-decoration: none;
    margin: 0 10px;
}

.htag {
    padding: 10px 20px;
    color: #FFF;
}